@{
    ViewData["Title"] = "Home Page";
}

<partial name="../home/partials/Banner" />
<div class="container-flex">
    <div class="flex-item" >
        <div class="gallery">
            <a target="_blank" href="img_5terre.jpg">
                <img src="~/images/slide-img-3.jpg" alt="Cinque Terre" width="700" height="400">
            </a>
            <div class="desc">Add a description of the image here</div>
        </div>

        <div class="gallery">
            <a target="_blank" href="img_forest.jpg">
                <img src="~/images/slide-img-1.jpg" alt="Forest" width="700" height="400">
            </a>
            <div class="desc">Add a description of the image here</div>
        </div>

        <div class="gallery">
            <a target="_blank" href="img_lights.jpg">
                <img src="~/images/slide-img-3.jpg" alt="Northern Lights" width="700" height="400">
            </a>
            <div class="desc">Add a description of the image here</div>
        </div>

        <div class="gallery">
            <a target="_blank" href="img_mountains.jpg">
                <img src="~/images/slide-img-1.jpg" alt="Mountains" width="700" height="400">
            </a>
            <div class="desc">Add a description of the image here</div>
        </div>
        <div class="gallery">
            <a target="_blank" href="img_lights.jpg">
                <img src="~/images/slide-img-3.jpg" alt="Northern Lights" width="700" height="400">
            </a>
            <div class="desc">Add a description of the image here</div>
        </div>

        <div class="gallery">
            <a target="_blank" href="img_mountains.jpg">
                <img src="~/images/slide-img-1.jpg" alt="Mountains" width="700" height="400">
            </a>
            <div class="desc">Add a description of the image here</div>
        </div>
        <div class="gallery">
            <a target="_blank" href="img_lights.jpg">
                <img src="~/images/slide-img-3.jpg" alt="Northern Lights" width="700" height="400">
            </a>
            <div class="desc">Add a description of the image here</div>
        </div>

        <div class="gallery">
            <a target="_blank" href="img_mountains.jpg">
                <img src="~/images/slide-img-1.jpg" alt="Mountains" width="700" height="400">
            </a>
            <div class="desc">Add a description of the image here</div>
        </div>
    </div>
    <div class="flex-item">
        <div class="gallery">
            <a target="_blank" href="img_lights.jpg">
                <img src="~/images/slide-img-3.jpg" alt="Northern Lights" width="700" height="400">
            </a>
            <div class="desc">Add a description of the image here</div>
        </div>

        <div class="gallery">
            <a target="_blank" href="img_mountains.jpg">
                <img src="~/images/slide-img-1.jpg" alt="Mountains" width="700" height="400">
            </a>
            <div class="desc">Add a description of the image here</div>
        </div>

    </div>
</div>