@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@300&display=swap');

:root {
    --img: url(https://cdn.josetxu.com/img/gp-fisura-saqueadores.jpg);
}

html {
    background-color: #fff;
}

.carousel1 {
    margin: 0;
    padding: 0;
    /*width: 86vw;*/
    height: 70vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center center;
    background-image: var(--img, url(https://cdn.josetxu.com/img/gp-fisura-saqueadores.jpg));
    transition: background 0.5s ease 0s;
    font-family: Calibri, cursive;
}

body:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 71%;
    background: #000000c9;
    z-index: 0;
}

.content {
    width: 90%;
    height: 100vmin;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center center;
    background-image: var(--img, url(https://cdn.josetxu.com/img/gp-fisura-saqueadores.jpg));
    transition: background 0.5s ease 0s;
    box-shadow: 0 0 0vmin 1vmin #fff, 0 0 0vmin 0vmin #000;
    max-width: 95%;
    max-height: 80%;
    border-radius: 1px;
    z-index: 0;
    background-color: #fff;
}


.content:before {
    content: "";
    position: absolute;
    width: 100%;
    text-align: center;
    margin-bottom: -55vmin;
    color: #fff4;
    font-size: 18px;
    opacity: 0.2;
}

/* CONTROLS */
.controls {
    width: 100vw;
    height: 75vh;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    flex-wrap: wrap;
    position: absolute;
    top: -150px;
}

input[type=radio] {
    display: none;
}

label {
    width: 50vw;
    height: 100vh;
    position: relative;
    cursor: pointer;
    opacity: 0.15;
}

    label:hover {
        opacity: 1;
    }

input:first-child:checked ~ .content .controls label:first-child,
input:last-of-type:checked ~ .content .controls label:last-of-type {
    cursor: default;
    opacity: 0.025;
}


/* HIDE LABELS */
#b2:checked ~ .content .controls label[for=b2],
#b3:checked ~ .content .controls label[for=b3],
#b4:checked ~ .content .controls label[for=b4],
#b5:checked ~ .content .controls label[for=b5],
#b6:checked ~ .content .controls label[for=b6],
#b7:checked ~ .content .controls label[for=b7],
#b8:checked ~ .content .controls label[for=b8],
#b9:checked ~ .content .controls label[for=b9],
#b3:checked ~ .content .controls label[for=b1],
#b4:checked ~ .content .controls label[for=b1],
#b4:checked ~ .content .controls label[for=b2],
#b5:checked ~ .content .controls label[for=b1],
#b5:checked ~ .content .controls label[for=b2],
#b5:checked ~ .content .controls label[for=b3],
#b6:checked ~ .content .controls label[for=b1],
#b6:checked ~ .content .controls label[for=b2],
#b6:checked ~ .content .controls label[for=b3],
#b6:checked ~ .content .controls label[for=b4],
#b7:checked ~ .content .controls label[for=b1],
#b7:checked ~ .content .controls label[for=b2],
#b7:checked ~ .content .controls label[for=b3],
#b7:checked ~ .content .controls label[for=b4],
#b7:checked ~ .content .controls label[for=b5],
#b8:checked ~ .content .controls label[for=b1],
#b8:checked ~ .content .controls label[for=b2],
#b8:checked ~ .content .controls label[for=b3],
#b8:checked ~ .content .controls label[for=b4],
#b8:checked ~ .content .controls label[for=b5],
#b8:checked ~ .content .controls label[for=b6],
#b9:checked ~ .content .controls label[for=b1],
#b9:checked ~ .content .controls label[for=b2],
#b9:checked ~ .content .controls label[for=b3],
#b9:checked ~ .content .controls label[for=b4],
#b9:checked ~ .content .controls label[for=b5],
#b9:checked ~ .content .controls label[for=b6],
#b9:checked ~ .content .controls label[for=b7],
#b10:checked ~ .content .controls label[for=b1],
#b10:checked ~ .content .controls label[for=b2],
#b10:checked ~ .content .controls label[for=b3],
#b10:checked ~ .content .controls label[for=b4],
#b10:checked ~ .content .controls label[for=b5],
#b10:checked ~ .content .controls label[for=b6],
#b10:checked ~ .content .controls label[for=b7],
#b10:checked ~ .content .controls label[for=b8] {
    display: none;
}


/* ARROWS */
label:before {
    content: "";
    position: absolute;
    background: linear-gradient(30deg, #fff0 60%, #fff calc(60% + 1px)), linear-gradient(-30deg, #fff 40%, #fff0 calc(40% + 1px)), linear-gradient(-90deg, #fff0 70%, #fff calc(70% + 1px));
    width: 6vmin;
    height: 6vmin;
    border-radius: 5px;
    right: 25vmin;
    top: calc(50% - 3vmin);
}

/* LEFT ARROW */
#b1:checked ~ .content .controls label[for=b1]:before,
#b2:checked ~ .content .controls label[for=b1]:before,
#b3:checked ~ .content .controls label[for=b2]:before,
#b4:checked ~ .content .controls label[for=b3]:before,
#b5:checked ~ .content .controls label[for=b4]:before,
#b6:checked ~ .content .controls label[for=b5]:before,
#b7:checked ~ .content .controls label[for=b6]:before,
#b8:checked ~ .content .controls label[for=b7]:before,
#b9:checked ~ .content .controls label[for=b8]:before,
#b10:checked ~ .content .controls label[for=b9]:before {
    left: 25vmin;
    transform: rotate(180deg);
}




/* TITLES  */
body:after {
/* nasa javascript yung design */
}


/*** THUMBNAILS ***/
.thumbnails {
    position: absolute;
    background: #ffffff05;
    width: 100vw;
    bottom: 3vh;
    text-align: center;
    padding: 1vmin;
}

    .thumbnails label {
        background-color: #0008;
        position: relative;
        width: 8vmin;
        height: 8vmin;
        display: inline-block;
        margin-left: 1vw;
        background-image: var(--img);
        background-size: cover;
        background-position: center;
        opacity: 0.5;
        border-radius: 2px;
    }
        .thumbnails label:before {
            display: none;
        }

        .thumbnails label:hover {
            opacity: 1;
        }

        .thumbnails label:first-child {
            margin-left: 0;
        }

#b1:checked ~ .content .thumbnails label[for=b1],
#b2:checked ~ .content .thumbnails label[for=b2],
#b3:checked ~ .content .thumbnails label[for=b3],
#b4:checked ~ .content .thumbnails label[for=b4],
#b5:checked ~ .content .thumbnails label[for=b5],
#b6:checked ~ .content .thumbnails label[for=b6],
#b7:checked ~ .content .thumbnails label[for=b7],
#b8:checked ~ .content .thumbnails label[for=b8],
#b9:checked ~ .content .thumbnails label[for=b9],
#b10:checked ~ .content .thumbnails label[for=b10] {
    opacity: 1;
    box-shadow: 0 0 0.01vmin 0.5vmin #fff;
}



/* MEDIA QUERIES */
@media only screen and (max-width:767px) {
    body:after {
        top: 2vh;
        font-size: 20px;
        white-space: initial;
    }
}

@media only screen and (max-width:580px) {
    body:after {
        font-size: 25px;
        white-space: pre-wrap;
    }
}

/* BROWSER SUPPORT */
.firefox {
    background: #0008;
    color: #fff;
    position: absolute;
    top: 45vh;
    width: 45vmin;
    padding: 2vmin 3vmin;
    border-radius: 5px;
    text-align: center;
    font-size: 24px;
}

    .firefox span code {
        font-size: 24px;
        background: #0008;
        padding: 0 10px;
        border-radius: 25px;
    }

@supports (-webkit-font-smoothing: antialiased) {
    .firefox {
        display: none;
    }
}
