
<aside class="sidebar" style="height:100%">
    <!-- Sidebar header -->
    <header class="sidebar-header">
        <a href="#" class="header-logo">
            <span class="nav-label" alt="Home">thisMovie</span>
        </a>
        <button class="toggler sidebar-toggler">
            <span class="fa-solid fa-caret-left"></span>
        </button>
        <button class="toggler menu-toggler">
            <span class="material-symbols-rounded">menu</span>
        </button>
    </header>

    <nav class="sidebar-nav">
        <!-- Primary top nav -->
        <ul class="nav-list primary-nav">
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <span class="nav-icon fa-solid fa-home"></span>
                    <span class="nav-label">Home</span>
                </a>
                <span class="nav-tooltip">Home</span>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <span class="nav-icon fa-solid fa-theater-masks"></span>
                    <span class="nav-label">Genre</span>
                </a>
                <span class="nav-tooltip">Genre</span>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <span class="nav-icon fa-solid fa-globe"></span>
                    <span class="nav-label">Country</span>
                </a>
                <span class="nav-tooltip">Country</span>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <span class="nav-icon fa-solid fa-video"></span>
                    <span class="nav-label">Movies</span>
                </a>
                <span class="nav-tooltip">Movies</span>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <span class="nav-icon fa-solid fa-tv"></span>
                    <span class="nav-label">TV Show</span>
                </a>
                <span class="nav-tooltip">TV Show</span>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <span class="nav-icon fa-solid fa-trophy"></span>
                    <span class="nav-label">Top IMDB</span>
                </a>
                <span class="nav-tooltip">Top IMDB</span>
            </li>
        </ul>

        <!-- Secondary bottom nav -->
        <ul class="nav-list secondary-nav">
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <span class="nav-icon fa-solid fa-user"></span>
                    <span class="nav-label">Profile</span>
                </a>
                <span class="nav-tooltip">Profile</span>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <span class="nav-icon fa-solid fa-right-from-bracket"></span>
                    <span class="nav-label">Logout</span>
                </a>
                <span class="nav-tooltip">Logout</span>
            </li>
        </ul>
    </nav>
</aside>